@import "base";

// Add custom styles here
.graphic { 
    display: grid;
    grid-template-columns: repeat(2, 125px);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    align-items: end;
    justify-content: center;

    &::before {
        content: none;
    }

    @media (min-width: 400px) {
        grid-template-columns: repeat(3, 125px);
        grid-template-rows: repeat(2, auto);
    }

    @media (min-width: 800px) {
        grid-template-columns: repeat(6, 125px);
        grid-template-rows: auto;
    }
}

// strong {
//     color: rgba(178, 34, 34, .7);
//     border-bottom: firebrick;
//     // font-size: 1.1em;
//     // color: white;
// }

// @media (min-width: 470px) {
//     .graphic {
//         grid-template-columns: repeat(3, 150px);
//         grid-template-rows: repeat(2, auto);
//     }
// }

// @media (min-width: 470px) {
//     .graphic {
//         grid-template-columns: repeat(3, 150px);
//         grid-template-rows: repeat(2, auto);
//     }
// }

.chart-container { width: 100%; }

.chart-container p {
    text-align: center;
}

.chart-container canvas {
    margin: 0 auto;
    display: block;
}