[id^="degree-"]:not(:first-of-type) .axis text,
[id^="degree-"]:not(:first-of-type) text.label  {
  display: none;
}

[id^="degree-"]:not(:first-of-type) .college text {
  display: none !important;
}

.axis.y .tick line {
  stroke: darkgray;
  stroke-dasharray: 5, 5;
}

.axis.y .tick:first-of-type line {
  display: none;
}

.line {
  fill: none;
  opacity: .2;
  stroke: lightgray;
  stroke-width: 1px;
  display: none;
}

.y .domain {
  display: none;
}

#chicago .line {
  opacity: 1;
  stroke: #EB332C;
  stroke-width: 2px;
  display: block;
}

#rest_of_state .line {
  opacity: 1;
  stroke: darkgray;
  stroke-width: 2px;
  display: block;
}

.college text { display: none; }

#chicago text { 
  display: block;
  fill: #EB332C; 
}

#rest_of_state text {
  display: block;
  fill: darkgray;
}

text {
  font-family: proxima-nova, helvetica, arial, sans-serif !important;
}

#degree-ags {
  background: rgba(255, 192, 189, .2);
}

#highlight-red {
  background: #EB332C;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}




.chart { width: 275px; }

@media (min-width: 390px) {
  .chart { width: 390px; }

  #degree-aa,
  #degree-ags {
    margin-left: 40px;
  }
}

@media (min-width: 660px) {
  .chart {
    width: 660px;
  }
  #degree-aa,
  #degree-ags { 
    margin-left: 0; 
  }
}