{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}

    <div class="graphic">
        <table id="state-table">
            <thead>
                <tr>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_name }}</div>
                    </th>
                    <th class="amt">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_ward }}</div>
                    </th>
                    <th class="amt">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_amt }}</div>
                    </th>
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="person-{{ row.name|classify }}">
                <td data-title="{{ COPY.labels.hdr_name }}">{{ row.name }}</td>
                <td data-title="{{ COPY.labels.hdr_ward }}">{{ row.ward }}</td>
                <td data-title="{{ COPY.labels.hdr_amt }}" class="amt">{{ row.amt |int }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p><span class="label">Source:</span> {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p><span class="label">Credit:</span> {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/tablesort.js') }}
    {{ JS.push('js/lib/tablesort.numeric.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
